/* CHAT STYLES */
* {
    font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
        Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    letter-spacing: 0.5px;
}

.ce-chat-list {
    /* background-color: rgb(240, 240, 240) !important; */
    background-color: white !important;
    height: 100%;
    max-height: 100vh;
    overflow: hidden scroll;
    border-right: 1px solid rgb(175, 175, 175);
    font-family: Avenir;
    border-top-left-radius: 20px 20px;
    border-bottom-left-radius: 20px 20px;
}

.ce-chats-container {
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 24px 24px;
}

.ce-chat-form-container {
    padding: 16px 14px;
    background-color: white;
    margin-left: 0px;
}

.ce-active-chat-card {
    background-color: #cabcdc !important;
    border: 4px solid #cabcdc !important;
    border-radius: 0px !important;
}

.ce-chat-subtitle-text {
    color: #595959 !important;
}

.ce-chat-form-container {
    padding-bottom: 20px !important;
}

.ce-text-input {
    border-radius: 6px !important;
    border: 1px solid #3b2a50 !important;
}

.ce-primary-button {
    border-radius: 6px !important;
    background-color: #6e00ff !important;
    position: relative;
    bottom: 1px;
}

.ce-danger-button {
    background-color: white !important;
    border-radius: 22px !important;
}

.ce-settings {
    background-color: rgb(240, 240, 240) !important;
    border-top-right-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
}

.ce-autocomplete-input {
    border-radius: 6px !important;
    border: 1px solid #3b2a50 !important;
}

.ce-autocomplete-options {
    border-radius: 6px !important;
    border: 1px solid #3b2a50 !important;
    background-color: white !important;
}

.ce-chat-settings-container {
    padding-top: 12px !important;
}

.ce-chat-avatars-row {
    display: none !important;
}

/* CUSTOM FEED */

.ce-chat-engine {
    background-color: rgba(17, 25, 40, 0) !important;
    padding: 20px;
}

.ce-wrapper {
    background-color: rgba(24, 17, 40, 0);
}

.ce-chat-feed-column {
    background-color: rgba(17, 25, 40, 0);
}

.ce-chat-list-column {
    background-color: rgba(17, 25, 40, 0);
}


.chat-feed {
    height: 100%;
    width: 100%;
    overflow: scroll;
    background-color: white;
}

.chat-title-container {
    width: calc(100% - 36px);
    padding: 18px;
    text-align: center;
}

.chat-title {
    color: #7554a0;
    font-weight: 800;
    font-size: 24px;
}

.chat-subtitle {
    color: #7554a0;
    font-weight: 600;
    font-size: 12px;
    padding-top: 4px;
}

.message-row {
    float: left;
    width: 100%;
    display: flex;
    margin-left: 18px;
}

.message-block {
    width: 100%;
    display: inline-block;
}

.message-avatar {
    width: 44px;
    height: 44px;
    border-radius: 22px;
    color: white;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 48px;
}

.message {
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    max-width: 60%;
}

.message-image {
    margin-right: 18px;
    object-fit: contain;
    border-radius: 6px;
    height: 30vw;
    /* width: 30vw; */
    max-height: 200px;
    max-width: 200px;
    min-height: 100px;
    min-width: 100px;
}

.read-receipts {
    position: relative;
    bottom: 6px;
}

.read-receipt {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    margin: 1.5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
}

.message-form-container {
    position: absolute;
    bottom: 0px;
    width: calc(100%);
    padding: 18px;
    background-color: rgb(240, 240, 240);
}

.message-form {
    overflow: hidden;
    border-radius: 6px;
    border: 1px solid #3b2a50;
    background-color: white;
}

.message-input {
    height: 40px;
    width: calc(100% - 120px);
    background-color: white;
    border: 1px solid white;
    padding: 0px 18px;
    outline: none;
    font-size: 15px;
}

.user-avatar {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.image-button {
    cursor: pointer;
    padding: 0px 12px;
    height: 100%;
}

.send-button {
    height: 42px;
    background-color: white;
    border: 1px solid white;
    padding: 0px 10px;
    cursor: pointer;
}

.send-icon {
    top: 1px;
    position: relative;
    transform: rotate(-90deg);
}

.picture-icon {
    top: 1px;
    position: relative;
    font-size: 14px;
}

/* FORM STYLES */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62, 5%;
}

.wrapper {
    height: 90vh;
    width: 90vw;
    background: rgb(117, 84, 160);
    background: linear-gradient(90deg,
            rgba(117, 84, 160, 0.685) 7%,
            rgba(117, 84, 160, 0.685) 17%,
            rgba(106, 95, 168, 0.685) 29%,
            rgba(99, 103, 174, 0.685) 44%,
            rgba(87, 116, 184, 0.685) 66%,
            rgba(70, 135, 198, 0.685) 83%,
            rgba(44, 163, 219, 0.685) 96%,
            rgba(22, 188, 237, 0.685) 100%,
            rgba( 0, 212, 255, 0.685) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(19px) saturate(180%);
    border-radius: 40px;
}

.input {
    color: #333;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 90%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
    outline: none;
    margin-bottom: 25px;
}

.form {
    width: 400px;
}

.title {
    text-align: center;
    color: white;
    margin-bottom: 30px;
    width: 100%;
    font-size: 2.3em;
}

.button {
    border-radius: 4px;
    border: none;
    background-color: white;
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    padding: 20px;
    width: 200px;
    transition: all 0.4s;
    cursor: pointer;
    margin: 5px;
    width: 90%;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}

.button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.logout-btn {
    background: none;
    color: white;
    border: none;
    padding: 8px 8px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 5px;
    margin-left: auto;
}

.button-color {
    background-color: #6e00ff;
}

.button-color:hover {
    opacity: 66%;
}

.chat-btn {
    background: none;
    border: none;
    padding: 8px 8px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 5px;
    margin-left: auto;
}

.chat-icon {
    width: 2rem;
    height: auto;
    display: block;
}

.user-settings-btn {
    background: none;
    color: white;
    border: none;
    padding: 8px 8px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 5px;
    margin-left: auto;
}

.dropdown {
    width: 200px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    background-color: #e6e6fa;
    position: relative;
    margin-left: 1%;
}

.dropdown select {
    padding: 10px;
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    cursor: pointer;
}

.dropdown::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #ccc;
    cursor: pointer;
    pointer-events: none;
    transition: 0.25s all ease;
}

.dropdown:hover::after {
    color: white;
    background-color: #5a5a5a;
}


/* Popup style */
.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9999;
}

.box {
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
}

.close-icon {
    content: 'x';
    cursor: pointer;
    position: fixed;
    right: calc(15% - 30px);
    top: calc(100vh - 85vh - 33px);
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
}

.mynavbar {
    display: flex;
    padding: 1rem;
}

.mybar {
    display: flex;
    flex-direction: column;
    height: 100vh - 2rem;
    background-color: #6e00ff;
    border-radius: 25px;
    width: 133px;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
}

.translation {
    float: left;
    background-color: #55FF55;
    margin-left: 48px;
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    max-width: 60%;
}

body {
    background-image: url("../public/pexels-8moments-1323550.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
